*{
  margin: 0;
}

.form{
  width: 40%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 35%;
}

.label{
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.submit{
  background-color: rgb(220, 121, 121);
  width: 140px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}